* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    background-color:rgb(214, 243, 220);
}

#new-game {
    color: white;
    background-color: rgb(12, 180, 12);
    border: none;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 15px;
}

#stats {
    color: white;
    text-align: center;
    padding: 10px;
    border: solid rgb(12, 180, 12);
    margin: 5px;
    border-radius: 20px;
}

#you-win {
    display: none;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 9999; 
    margin: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    background-color: rgb(24, 74, 34);
}

#game-container {
    width: 40rem;
    height: 50rem;
    margin: auto;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 74, 34);
}

#controllers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#board {
    display: flex; 
    flex-wrap: wrap;
    width: 40rem;
    height: 40rem;
}

.card {
    width: 9rem;
    height: 9rem;
    margin: .313rem;
    position: relative;
    background-color: rgb(209, 245, 207);
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.front, 
.back {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden;
    font-size: 70px;
    user-select: none;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.back {
    transform: rotateY(180deg);
    transform-origin: center; 
}


.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .card.flipped .card-inner {
    transform: rotateY(180deg) translate(-50%, -50%);
  }

.card.correct .card-inner {
    transform: rotateY(180deg) translate(-50%, -50%);
}

.card.correct { 
    background-color: greenyellow;
}